@using Ajax_Crud_Using_Model.ViewModel


@model List<StudentViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <button id="showFormBtn">Create Student</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Address
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               @item.Id
            </td>
            <td>
               @item.Name
            </td>
            <td>
                @item.Address
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>

<div id="contentArea">

</div>

@section Scripts {

    <script>

        $("#showFormBtn").click(function () {

                $.ajax({
               
					url: "/Home/Create",
					method: 'GET',
					cache: false,
					contentType: false,
					processData: false,
					//data: formData,
					success: function (response) {
                        $("#contentArea").html(response);
					},
					error: function (err) {
						console.log(err);
					}

                })

        });

    </script>

}
